<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SABPA Life Science and Technology Poster Contest">
    <meta name="author" content="Yuan Tian">

    <link rel="icon" href="{% static 'home/image/sabpa_logo.jpg' %}">

    <title>2nd SABPA Life Science and Technology Poster Contest - Feb 10, 2018 | San Diego, CA</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'home/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'home/css/map.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'home/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/creative.min.css' %}" rel="stylesheet">

    {% block head_block %}
    {% endblock %}

  </head>

  <body id="page-top">
    {% block body_block %}
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'home/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'home/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'home/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'home/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'home/js/creative.min.js' %}"></script>
    <script src="{% static 'home/js/home_ajax.js' %}"></script>

  </body>

</html>
