{% extends "home/base.html" %}

{% load staticfiles %}

{% block body_block %} 
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">SABPA Poster Contest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#abstracts">Abstracts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#direction">Direction &amp; Parking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h3>
            8:00 AM to 5:00 PM, Saturday, February 10, 2018
          </h3>
          <h1 class="text-uppercase">
            <strong>2nd SABPA Life Science and Technology Poster Contest</strong>
          </h1>
          <h5 class="section-heading text-white">
            <strong>Hilton San Diego/Del Mar | Del Mar, CA</strong>
          </h5>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="mb-5">Bridges industry and academia experts to transform therapeutics and diagnositics for patients</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Innovative research in life science and technology</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4 lead">To foster a unique opportunity for graduate students, postdoctoral fellows, and junior professionals in life science and technology field, the 2nd SABPA Life Science and Technology Poster Event will be held together with the 2nd SABPA Frontiers in Therapeutics and Diagnostics (FTD) Forum. Please attend this exciting event with your poster, showcase your discovery, exchange innovative ideas, and network with peers and leaders from industry and academia, including investment sector.</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#abstracts">Abstracts</a>
        </div>
      </div>
    </div>
  </section>

  <section id="abstracts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Abstracts</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <dl class="row">
            <dt class="col-sm-3">Theme</dt>
            <dd class="col-sm-9">Innovative research in life science and technology</dd>

            <dt class="col-sm-3">Eligibility</dt>
            <dd class="col-sm-9">
              <p>Graduate students and postdoctoral fellows</p>
              <p>Academic and industrial scientists</p>
            </dd>

            <dt class="col-sm-3">Submission</dt>
            <dd class="col-sm-9">Free Submission and  the deadline is <strong>Friday, January 27, 2018 at 11pm</strong> (Space is limited, early submission is strongly recommended)</dd>

            <dt class="col-sm-3">Abstract Instruction</dt>
            <dd class="col-sm-9">
              <p>Presenting author’s name, affiliation, and contact</p>
              <p>Abstract title and body text. Abstract body (&#8828 300 words): can be structured as sections including background, methods and materials, results, discussion and conclusion, and potential implication</p>
            </dd>

            <dt class="col-sm-3">Awards</dt>
            <dd class="col-sm-9">The posters displayed in the event will be evaluated anonymously by a panel of judges, and by all the attendees of FTD forum. Winners will receive the following prizes: First, second and third places and best popularity</dd>

            <dt class="col-sm-3">Other benefits</dt>
            <dd class="col-sm-9">Free admissions of presenting author and one colleague to FTD Forum</dd>

          </dl>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="text-center">
            <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#submission_form" aria-expanded="false" aria-controls="submission_form">
              <span class="glyphicon glyphicon-upload"></span>click to submit now!
            </a>
          </p>
          <div class="collapse" id="submission_form">
            <div class="card card-body">
              <section class="bg-primary text-white">
                <div class="container">
                  <form id="submission_form" action="{% url 'home:submit_abstract' %}" method="post">
                      {% csrf_token %}

                      {% for field in author_form %}
                          <div class="form-group row">
                              <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                              <div class="col-sm-10">
                                  {{ field }}
                              </div>
                          </div>
                      {% endfor %}

                      {% for field in abstract_form %}
                          <div class="form-group row">
                              <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                              <div class="col-sm-10">
                                  {{ field }}
                              </div>
                          </div>
                      {% endfor %}

                      <div class="form-group">
                        <div class="offset-sm-2 col-sm-10">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="agreeCheck"> Agree to terms:
                            </label>
                            <small id="fileHelp" class="form-text">By submitting an application, you give SABPA the authority to electronically post your abstract, and presentation, and to publish them in printed materials. You are responsible to protect your and not to infringe other’s inventions and intellectual properties. It is also your responsibility for editing your abstract, presentation and providing copy in final, print-ready form.</small>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-dark" id="submitAbstract" disabled>Submit</button>
                        </div>
                      </div>
                  </form>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/1.jpg' %}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/1.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/2.jpg' %}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/2.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/3.jpg' %}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/3.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/4.jpg' %}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/4.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/5.jpg' %}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/5.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/6.jpg' %}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/6.jpg' %}" alt="">
            <div class="portfolio-box-caption">
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="direction">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Direction &amp; Parking</h2>
          <hr class="my-4">
          <p class="mb-5">Address: 15575 Jimmy Durante Blvd, Del Mar, CA 92014. Parking is free at the hotel.</p>
        </div>
      </div>
    </div>
    <div id="map" class="container google_map">
    </div>
  </section>
  
  <script>
  function initMap() {
    var uluru = {lat: 32.978353, lng: -117.254794};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxHgUqQy4zPijq6ZbpWtcLJYbWjL5CqzQ&callback=initMap">
  </script>

  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Contact us</h2>
          <hr class="my-4">
          <p class="mb-5">If you have any questions, please contact us at: </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
          <p>
            <a href="mailto:ftdposter@sabpa.org">ftdposter@sabpa.org</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 
